* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
  }
  
  :root {
      --black-matte:rgb(40, 40, 43);
  }
  
  body {
    overflow-x: hidden;
    max-width: 1600px;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto 200px;
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Georgia, Serif;
  }
  h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
  .paragraph{
    min-width: 800px;
  }
  
  #main{
    width: 100vw;
  }
  nav {
    border: 5px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  nav a {
    height: fit-content;
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
  }
  nav .logo h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-decoration: underline;
  }
  
  nav .logo {
    margin: auto 50px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  nav ul {
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    list-style: none;
    align-items: flex-start;
  }
  
  nav ul a:hover {
    text-decoration: underline;
    width: max-content;
    height: 50px;
  }
  
  .full-banner-img {
    width: 100vw;
    height: 680px;
    background-image: url("public/br1.avif");
    background-size: cover;
    background-position: 0px -200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    font-size: 86px;
  }
  
  
  .full-banner-img h1 {
    color: whitesmoke;
    font-size: 86px;
    margin: 0px;
    margin-left: 50px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.082);
  }
  
  .box-full {
    width: 100vw;
  }
  
  .seperator-1 {
    margin: 0px 40px;
    height: 8px;
    width: 30%;
    background-color: whitesmoke;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.082);
    border: none;
    border-radius: 3rem;
  }
  
  .full-banner-img div {
    margin: 50px;
    gap: 15px;
  }
  
  #home {
    width: 100%;
  }
  
  .brown-box{
      background-color:brown ;
      min-width: 10px;
      min-height: 10px;
  }
  
  #about {
  }
  
  .box-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 50px;
  }
  .box-2 div {
      margin-left: 100px;
  justify-content: center;
  align-content: center;
    height: 100%;
    width: 60%;
  }
  .box-2 .content-image {
    border-radius: 10px;
    width: 600px;
  }
  
  .box-2 p {
  color:var(--black-matte) ;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    letter-spacing: 1px;
    line-break:normal;
  }
  
  h2 {
      color:var(--black-matte) ;
      font-size: 42px;
  }
  
  
  .seperator-m {
    margin: 50px 40px;
    height: 3px;
    background: linear-gradient(90deg, rgba(109,109,110,1) 0%, rgba(82,82,82,1) 36%, rgba(255,255,255,1) 100%);
    border: none;
    border-radius: 3rem;
  }
  
  .seperator-s {
      background-color:  rgba(0, 0, 0, 0.10);
      height: 1px;
      border: 0px;
      border-radius: 3rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
  #shop{
    background-color: antiquewhite;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 50px;
    align-items: flex-end;
    justify-content: center;
  }
  
  .page-gap{
    margin: 200px 0px;
  }
  
  .larger-gap{
    margin: 100px 100px;
  }
  
  .large-gap{
    margin: 75px;
  }
  
  .medium-gap{
    margin: 50px 50px;
  }
  
  .small-gap{
    margin: 25px;
  }
  
  .box-shadow-light{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .flex-center{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  footer {
    width: 100vw;
  }
  
  /* Center and align items vertically and horizontally */
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  /* Style the shop container */
  .shop {
    max-width: 95%;
    border-radius: 15px;
    width: fit-content;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px;
    background-color: white;
    justify-content: center;
    align-content: center;
  }
  
  .shop .head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0px 25px;
  }
  
  .shop .body {
    justify-self: center;
    width: fit-content;
    flex-wrap: wrap;
    font-size: 16px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
  }
  
  /* Style the shopping card within the shop */
  .card {
    height:min-content ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;
    margin: 40px 20px;
  }
  
  .card:hover{
    cursor: pointer;
    background-color: #f5f5f5;
  }
  .card .img-warp{
    box-sizing: content-box;
    overflow: hidden;
    align-self: center;
    max-width: 100%; 
    max-height: 100%; 
    height: 50%;
    width: 90%;
    object-fit: contain; 
    border-radius: 5%;
  }
  
  .card img {
    max-width: 100%;
    max-height: 100%;
    
    align-self: center;
    width: 100%;
  }
  
  .card .name {
    font-weight: bold;
    font-size: 28px;
    margin: 5px 0;
    padding-left: 5%;
  
  }
  
  .card .price {
    color: #2e2e2e; /* Change this color to your preference */
    font-weight: bold;
    font-size: 28px;
    margin: 5px 0;
    padding-left: 5%;
  }
  
  @media screen and (max-width: 1024px) {
    body{
      width: 100vw;
    }
  }
  